{% extends "main_template.html" %}

{% load static %}

{% block over_view_contact %}
<p>
<font style="color:blue">Overtimebet 15 winning day vip subscription</font>
At <font style="color:blue">ksh 800, 3500 Naira, 12 Usd, 60 Cedis</font> and <font style="color:blue">
   30 winning day vip subscription</font> At
<font style="color:blue">ksh 1500, 5000 Naira, 20 Usd, 100 Cedis</font>
Talk with us
     <font style="color:blue">voltts.ab@gmail.com</font> =><font style="color:red"> 2 - 50 odds daily</font>
<p>
{% endblock %}
