{% extends "main_template.html" %}

{% load static %}

{% block title %}

1XPredict.com - VipTips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<h2 class="h4" align = "center">
  Forms Of Payment
</h2>

<div class="w3-row-padding" align = "center">

  <div class="w3-third">
     <img src="{% static "images/uba.png"  %}">
     <h4 class="h4" align = "center">
       PAYMENT VIA UBA Bank
     </h4>

     <p>
       Make payment to the following Bank Account number:
     </p>
     <p>
       2061281040
     </p>
     <p>
       Account name
     </P>
     <p>
       ANIEBIET BASSEY
     </p>
     <p>
       Upon payment kindly send the following details to us at <font style="color: red">voltts.ab@gmail.com</font>
     </p>
     <p>
       a) Your full names as reflected in that payment
     </p>
     <p>
       b) Your phone number with your country's code e.g. <font style="color: red">+23483736</font>
     </p>
     <p>
       Image of the payslip
     </p>
     <p>
       We will subsequently activate your account promptly
     </p>

   </div>

   <div class="w3-third">
     <img src="{% static "images/skrill.jpeg"  %}">
     <h4 class="h4" align = "center">
       PAYMENT VIA SKRILL
     </h4>

     <p>
     Kindly make your monthly subscription fee through Skrill to this email
     </p>
     <p style="color: red">
     aniebietaab@gmail.com
     </p>
     <p>
       Upon payment kindly send the following details to us at <font style="color: red">voltts.ab@gmail.com</font>
     </p>

     <p>
       a) Your full names as reflected in that Skrill payment
     </p>
     <p>
       b) Your phone number with your country's code e.g. <font style="color: red">+23483736</font>
     </p>
     <p>
       We will subsequently activate your account promptly
     </p>

   </div>

  <div class="w3-third">
<img src="{% static "images/mpesa.png"  %}">
    <h4 class="h4" align = "center">
    	M-PESA Payment Method
    </h4>

<h5>
  Kindly go to M-PESA menu and select;

</h5>
<p>
  a) Lipa na M-PESA
</p>
<p>
  b) Pay Bill
</p>
<p>
  c) Enter Business Number <font style="color: red">247247</font>
</p>
<p>
  d) Enter Account Number <font style="color: red">0470171468770</font>
</p>
<p>
  e) Enter Amount <font style="color: red"></font>
</p>
<p>
  f) Press OK
</p>

<p>
  We will subsequently activate your account promptly
</p>

<br>
<hr>
</div>
</div>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
